body{
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: red;
}

.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: blue;
}

.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: green;
}

p{
    color: white;
}